{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Groupe</th>

        <th>IP Web</th>
        <th>Valid HTTPS</th>
        <th>https://www...</th>
        <th>http://www...</th>
        <th>IP NS</th>
        <th>DNSSEC</th>
        <th>IP Mail</th>
    </tr>
    </thead>
    <tbody>
    {% for statu in status %}
    <tr>
        <td>{{ statu.group_name }}</td>
        <td><a href="vps/{{ statu.ip_web }}" target="_blank">{{ statu.ip_web }}</a></td>

        {% if statu.www_https_valid %}
        <td class="p-3 mb-2 bg-success text-white">Yes</td>
        {% else %}
        <td class="p-3 mb-2 bg-danger text-white">No</td>
        {% endif %}

        <td><a href="https://{{ statu.url_www }}" target="_blank">link</a> | {{ statu.content_www_ssl[:50] }}</td>
        <td>{{ statu.content_www_http[:50] }}</td>
        <td><a href="vps/{{ statu.ip_ns }}" target="_blank">{{ statu.ip_ns }}</a></td>
        <td><a href="https://dnssec-analyzer.verisignlabs.com/{{ statu.group_name }}.ephec-ti.be" target="_blank">
            {{ statu.dnssec }}
        </a></td>
        <td>-</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                {searchable: false},
                {orderable: false, searchable: false},
                {orderable: false, searchable: false},
                null],
        });
    });
</script>
{% endblock %}