{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Groupe</th>

        <th>IP Web</th>
        <th>Valid HTTPS</th>
        <th>https://www...</th>
        <th>http://www...</th>
        <th>IP NS</th>
        <th>DNS info</th>
        <th>IP Mail</th>
    </tr>
    </thead>
    <tbody>
    {% for statu in status %}
    <tr>
        <td>{{ statu.group_name }}</td>
        <td><a href="vps/{{ statu.ip_web }}" target="_blank">{{ statu.ip_web }}</a></td>
        <td {% if not statu.www_https_valid %} class="p-3 mb-2 bg-danger text-white" {% endif %}>
            {{ statu.www_https_valid }}
        </td>
        <td><a href="https://{{ status.url_www }}">link</a> {{ statu.content_www_ssl[:50] }}</td>
        <td>{{ statu.content_www_http[:50] }}</td>
        <td><a href="vps/{{ statu.ip_ns }}" target="_blank">{{ statu.ip_ns }}</a></td>
        <td><a href="https://dnssec-analyzer.verisignlabs.com/{{ statu.group_name }}.ephec-ti.be" target="_blank">dns
            info</a></td>
        <td>-</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                {searchable: false},
                {orderable: false, searchable: false},
                {orderable: false, searchable: false},
                null],
        });
    });
</script>
{% endblock %}