{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Groupe</th>
        <th>DNS info</th>
        <th>IP Web</th>
        <th>Https valid ?</th>
        <th>www http content </th>
      </tr>
    </thead>
    <tbody>
      {% for statu in status %}
        <tr>
          <td>{{ statu.group_name }}</td>
          <td><a href="https://dnssec-analyzer.verisignlabs.com/{{ statu.group_name }}.ephec-ti.be" target="_blank">dns info</a></td>
          <td>{{ statu.ip_web }}</td>
          <td>{{ statu.www_https_valid }}</td>
          <td>{{ statu.content_www_http[:50] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}